extends ../layouts/default

block meta
	title !{data.year} Event | Little Rock Tech Fest
	meta(name="description" content="")
	meta(property="og:image", content="/images/lrtf-sm.png")
	meta(property="og:title" content=data.year+" Event | Little Rock Tech Fest")
	meta(property="og:site_name", content="lrtechfest.com")
	meta(property="og:description" content="")
	meta(property="og:url", content="http://www.lrtechfest.com/events/"+data.year)
	meta(property="og:type", content="website")
	meta(name="twitter:card" content="summary")
	meta(name="twitter:site" content="@LRTechFest")
	meta(name="twitter:title" content=data.year+" Event | Little Rock Tech Fest")
	meta(name="twitter:description" content="")
	//-Twitter Summary card images must be at least 120x120px
	meta(name="twitter:image" content="/images/lrtf-sm.png")

block intro
	section#EventsHero.hero.is-secondary
		.hero-body
			.container
				#particles-js
				h1.title !{data.year}

block content
	section.section.main
		.container
			h1.title.has-text-centered.m-t-32 Sponsors !{data.year}
			.columns.is-multiline.m-t-32.m-b-32
				each sponsor in data.sponsors
					.column.is-full-mobile.is-one-third-tablet.is-one-fifth-desktop
						a(href=sponsor.Website target="_blank")
							.card.past-sponsor
								.card-header
									p.card-header-title.is-centered !{sponsor.Level} Sponsor
								.card-image
									figure.image
										img(src="/images/sponsors/"+sponsor.Logo alt=sponsor.Name)
		.container
			h1.title.has-text-centered.m-t-32 Speakers !{data.year}
			each speaker in data.speakers
				.columns.is-variable.is-8.m-t-64.m-b-64
					.column.is-2
						figure.image
							img(src="/images/speakers/"+data.year+"/"+speaker.Photo alt="Speaker photo").is-rounded
					.column.is-9
						h1.title.has-text-primary !{speaker.FirstName} !{speaker.LastName}
						each presentation in speaker.Presentations
							h2.subtitle.p-t-8 !{presentation.Topic}
							p !{presentation.Description}
