extends ../layouts/default

block content

	#isFront

		section.hero.top.is-primary.is-medium
			.hero-body
				.container.has-text-centered

					.social
						span.icon.is-large
							a(href="https://twitter.com/LRTechFest" target="_blank")
								i.fab.fa-lg.fa-twitter
						span.icon.is-large
							a(href="https://www.facebook.com/LittleRockTechFest" target="_blank")
								i.fab.fa-lg.fa-facebook
						span.icon.is-large
							a(href="mailto:info@lrtechfest.com?Subject=Little Rock Tech Fest")
								i.far.fa-lg.fa-envelope

					.event
						span.icon
							span.far.fa-calendar
						span.date October 10 - 11, 2019

						span.location.icon
							span.fas.fa-map-marker-alt
						span Little Rock, Arkansas

					h1.title Little Rock Tech Fest
					h2.subtitle Two days of learning, networking, and fun for web and software developers.

					nav.intro-buttons
						a.button.is-primary.is-large(href="/")
							span
								i.fas.fa-bullhorn 
								span #[ Call for Speakers]

		//- Introduction
		section.section
			.container
				.has-text-centered
					span.icon.section-icon.is-large.has-text-primary
						i.fas.fa-3x.fa-microphone
					h1.title You want to be at #LRTF2019
					h2.subtitle This will be a full two days of content, hosted on October 10th and 11th at the Statehouse Convention Center in Little Rock, Arkansas.
					p
				.columns
					.column
						p Little Rock Tech Fest is an annual developer conference featuring popular web, mobile, database, devops and related developer topics from industry leaders. It is the event in Little Rock for both professional and aspiring software developers. Speakers from across the country come to present. Students and professionals from across Arkansas and surrounding regions come to learn and network with peers.
					.column
						p Our purpose is to encourage local professionals to increase their skills and to promote the Little Rock region to both experienced and aspiring developers and students.
						p This is our seventh year hosting the event. Will you join us?

		//- Sponsors
		section#sponsors.section

			.container
				.has-text-centered
					span.icon.section-icon.is-large.has-text-primary
						i.far.fa-3x.fa-bookmark
					h1.title Sponsors
					h2.subtitle These are the organizations that help us make this event possible.
					p.subtitle Platinum
					.sponsors
						if sponsors
							each sponsor in sponsors
								if sponsor.Level == "Platinum"
									.sponsor.platinum
										a(href=sponsor.Website target="_blank")
											img(src=sponsor.Logo alt=sponsor.Name)
					p.subtitle Gold
					.sponsors
						if sponsors
							each sponsor in sponsors
								if sponsor.Level == "Gold"
									.sponsor.gold
										a(href=sponsor.Website target="_blank")
											img(src=sponsor.Logo alt=sponsor.Name)
					p.subtitle Silver
					.sponsors
						if sponsors
							each sponsor in sponsors
								if sponsor.Level == "Silver"
									.sponsor.silver
										a(href=sponsor.Website target="_blank")
											img(src=sponsor.Logo alt=sponsor.Name)
					p.subtitle Bronze
					.sponsors
						if sponsors
							each sponsor in sponsors
								if sponsor.Level == "Bronze"
									.sponsor.bronze
										a(href=sponsor.Website target="_blank")
											img(src=sponsor.Logo alt=sponsor.Name)

		section#tickets.section
			.container
				.has-text-centered
					span.icon.section-icon.is-large.has-text-primary
						i.fas.fa-3x.fa-ticket-alt
					h1.title Tickets
					h2.subtitle Buy some!

					.pricing-table

						.pricing-plan
							.plan-header Student Ticket
							.plan-price
								span.plan-price-amount $75
							.plan-items
								.plan-item Lunch both days
								.plan-item T-shirt
								.plan-item Swag
								.plan-item Must have valid .edu email
							
							.plan-footer
								button.button.is-fullwidth Buy Now
						
						.pricing-plan.is-primary
							.plan-header Early Bird Ticket
							.plan-price
								span.plan-price-amount $100
							.plan-items
								.plan-item Lunch both days
								.plan-item T-shirt
								.plan-item Swag
								.plan-item -
							.plan-footer
								button.button.is-fullwidth Buy Now

						.pricing-plan
							.plan-header Standard Ticket
							.plan-price
								span.plan-price-amount $125
							.plan-items
								.plan-item Lunch both days
								.plan-item T-shirt
								.plan-item Swag
								.plan-item -
							
							.plan-footer
								button.button.is-fullwidth Buy Now

		section.hero.is-primary.is-small
			.hero-body.has-text-centered
				h1.title Event Location
				h2.subtitle Statehouse Convention Center
				address 101 E Markham St 
					br 
					|Little Rock, AR 72201
		#isMap

block js
	script(src="//maps.googleapis.com/maps/api/js?v=3&libraries=places&key=AIzaSyBI59PHKJ6RKHij4YneTlmGbjyfrX6nBG8")