extends ../layouts/default

block meta
	title Little Rock Tech Fest
	meta(name="description" content="Little Rock Tech Fest is an annual conference focused on bringing experts in technology to share their knowledge and provide key insight in all areas of tech.")
	meta(property="og:image", content="/images/lrtf-sm.png")
	meta(property="og:title" content="Little Rock Tech Fest")
	meta(property="og:site_name", content="lrtechfest.com")
	meta(property="og:description" content="Little Rock Tech Fest is an annual conference focused on bringing experts in technology to share their knowledge and provide key insight in all areas of tech.")
	meta(property="og:url", content="http://www.lrtechfest.com/")
	meta(property="og:type", content="website")
	meta(name="twitter:card" content="summary")
	meta(name="twitter:site" content="@LRTechFest")
	meta(name="twitter:title" content="Little Rock Tech Fest")
	meta(name="twitter:description" content="Little Rock Tech Fest is an annual conference focused on bringing experts in technology to share their knowledge and provide key insight in all areas of tech.")
	//-Twitter Summary card images must be at least 120x120px
	meta(name="twitter:image" content="/images/lrtf-sm.png")

block intro

	section.hero.top.is-medium.video

		.hero-video
			video#bgvid( playsinline autoplay muted loop )
				source(src="/video/2017-promo-web.webm" type="video/webm")
				source(src="/video/2017-promo-web.mp4" type="video/mp4")
				source(src="/video/2017-promo-web.ogv" type="video/ogv")

		.hero-body
			.container.has-text-centered

				.social
					span.icon.is-large
						a(href="https://twitter.com/LRTechFest" target="_blank")
							i.fab.fa-lg.fa-twitter
					span.icon.is-large
						a(href="https://www.facebook.com/LittleRockTechFest" target="_blank")
							i.fab.fa-lg.fa-facebook
					span.icon.is-large
						a(href="https://linkedin.com/company/little-rock-tech-fest" target="_blank")
							i.fab.fa-lg.fa-linkedin
					span.icon.is-large
						a(href="mailto:info@lrtechfest.com?Subject=Little Rock Tech Fest")
							i.far.fa-lg.fa-envelope

				.event
					span.icon
						span.far.fa-calendar
					span.date &nbsp;October 13 - 14, 2022
					br.is-hidden-desktop
					span.location.icon
						span.fas.fa-map-marker-alt
					span &nbsp;Little Rock, Arkansas

				h1.title Little Rock Tech Fest
				h2.subtitle 
					| Little Rock Tech Fest is an annual conference focused on bringing top industry experts from around the world to share their knowledge and provide key insight in all areas of technology.
				h2.subtitle
					| Advance your skills and learn from the best in all things tech!

				nav.intro-buttons
					a.button.is-primary.is-large(href="https://lrtechfest2022.eventbrite.com/?aff=lrtechfestcom" target="_blank")
						span Register Now
					a.button.is-primary.is-large(href="https://signup.com/go/NweaitX")
						span Volunteer Sign-up

block content

		//- Introduction
		section#why.section
			.container.banner.has-text-centered
				//-span.icon.section-icon.is-large.has-text-primary
					//-i.fas.fa-3x.fa-microphone
					h1.title You want to be at #LRTF2019
					h2.subtitle This will be a full two days of content, hosted on #[b October 10th and 11th] at the Statehouse Convention Center in Little Rock, Arkansas.
					p This is our #[b seventh] year hosting the event. Will you join us?
				//-
					.columns.is-multiline
						.column.is-5
							.box
								article.media
									.meida-left
										figure.image.is-64x64
											br
											span.icon.is-large
												i.far.fa-calendar-alt.fa-3x
									.media-content
										.content
											span #[strong.has-text-grey-dark SAVE THE DATE]
											br
											span.title.has-text-grey-dark October 10-11, 2019
											br
											span.subtitle.has-text-grey-dark 8:00AM
						.column.is-7
							.box
								article.media
									.meida-left
										figure.image.is-64x64
											br
											span.icon.is-large
												i.fas.fa-map-marker-alt.fa-3x
									.media-content
										.content
											span #[strong.has-text-grey-dark WHERE]
											br
											a(href="https://goo.gl/maps/TomoGH9HspUbMQLHA" target="_blank").title.has-text-grey-dark 
												| State House Convention Center
											br
											a(href="https://goo.gl/maps/TomoGH9HspUbMQLHA" target="_blank").subtitle.has-text-grey-dark 
												| 100 E Markham St, Little Rock

					.column.is-hidden-touch
						.box.is-grey-inverted.is-floating.is-compact
							.card-content
								.has-text-centered
									span.icon.section-icon.is-large
										i.fas.fa-2x.fa-globe-americas
									h2.subtitle #[b Kind of a Big Deal]
									p Learn from speakers from around the world while networking with regional professionals, students, and business leaders.
					.column.is-hidden-touch
						.box.is-grey-inverted.is-floating.is-compact
							.card-content
								.has-text-centered
									span.icon.section-icon.is-large
										i.fas.fa-2x.fa-glasses
									h2.subtitle #[b Talk Nerdy to Me]
									p Are you interested in Software Architecture? Mixed Reality? Working Smarter, Not Harder?
									p Let's meet IRL.
					.column.is-hidden-touch
						.box.is-grey-inverted.is-floating.is-compact
							.card-content
								.has-text-centered
									span.icon.section-icon.is-large
										i.far.fa-2x.fa-handshake
									h2.subtitle #[b Good for Business]
									p Encourage local technology professionals expanding their skills. Experience the vibrant developer community in Arkansas.

				//-a.button.is-primary.is-large.is-fullwidth(href="https://lrtechfest2022.eventbrite.com/?aff=lrtechfestcom" target="_blank") Register Now

		//-section#keynote.section
			.container.has-text-centered
				h1.title Keynote Speakers
					.columns.is-variable.is-8.is-multiline.is-centered(style="margin-top:2rem;")
						.column.is-4
							.card
								.card-image
									figure.image.is-3by4
										img(src="/images/speakers/2019-keynote/Scott_Hunter-3x4.jpg")
								.card-content
									.media-content
										p.title.is-4 Scott Hunter
										p.subtitle.is-6 Director of Program Management, Microsoft

						.column.is-4
							.card
								.card-image
									figure.image.is-3by4
										img(src="/images/speakers/2019-keynote/Ivana-3x4.jpg")
								.card-content
									.media-content
										p.title.is-4 Ivana Cojbasic
										p.subtitle.is-6 SVP of Information Security, Regions Bank

		section#speakers.section
			.container.has-text-centered
				span.icon.section-icon.is-large.has-text-primary
					i.fas.fa-3x.fa-microphone
				h1.title Speakers

				.columns.is-variable.is-8(style="margin-top:2rem;")
					each speaker, i in data.speakers

						.column.is-one-quarter
							.card
								.card-image
									figure.image.is-square
										img(src=speaker.profilePicture)
								.card-content
									.media-content.has-text-centered
										p.title.is-5  #{speaker.firstName} #{speaker.lastName}
										p.subtitle.is-6 #{speaker.tagLine}

									//-
										each session in speaker.sessions
											p.title.is-6 #[i.fas.fa-microphone] #{session.name}

									//-
										each link in speaker.links
											span.icon.is-medium
												a(href=link.url target="_blank")
													if link.title == 'Company Website'
														i.fas.fa-globe.fa-lg
													if link.title == 'Blog'
														i.fas.fa-blog.fa-lg
													if link.title == 'github'
														i.fab.fa-github.fa-lg
													if link.title == 'Twitter'
														i.fab.fa-twitter.fa-lg
													if link.title == 'LinkedIn'
														i.fab.fa-linkedin.fa-lg
													if link.title == 'Personal'
														i.fas.fa-user.fa-lg

				a.button.is-primary.is-large.is-fullwidth(href="/speakers") View the Full Speaker Lineup


		//- Sponsors
		section#sponsors.section
			.container.has-text-centered
				span.icon.section-icon.is-large.has-text-primary
					i.far.fa-3x.fa-bookmark
				h1.title Sponsors
				h2.subtitle These are the organizations that help us make this event possible.
				
			.container
				h1.title.has-text-centered.m-t-32 Sponsors !
				.columns.is-multiline.m-t-32.m-b-32
					each sponsor in data.sponsors
						.column.is-full-mobile.is-one-third-tablet.is-one-fifth-desktop
							a(href=sponsor.Website target="_blank")
								.card.past-sponsor
									.card-header
										p.card-header-title.is-centered !{sponsor.Level} Sponsor
									.card-image
										figure.image
											img(src="/images/sponsors/"+sponsor.Logo alt=sponsor.Name)
		section#tickets.section
			.container
				.has-text-centered
					span.icon.section-icon.is-large.has-text-primary
						i.fas.fa-3x.fa-ticket-alt
					h1.title Tickets
					h2.subtitle Join us for two full days of learning, networking, and fun!

					.pricing-table

						.pricing-plan.student-ticket
							.plan-header Student Ticket
							.plan-price
								span.plan-price-amount $75
							.plan-items
								.plan-item 40+ sessions
								.plan-item Lunch both days
								.plan-item T-shirt
								.plan-item Must have valid .edu email
							
							.plan-footer
								a.button.is-fullwidth(href="https://lrtechfest2022.eventbrite.com/?aff=lrtechfestcom" target="_blank") Buy Now
						
						.pricing-plan.student-ticket
							.plan-header Volunteer Ticket
							.plan-price
								span.plan-price-amount $50 
							.plan-items
								.plan-item Signup for 2 time blocks and we'll provide you a full standard ticket

							.plan-footer
								a.button.is-fullwidth(disabled="disabled" href="https://signup.com/go/NweaitX" target="_blank") Volunteer Now
								
						.pricing-plan.standard-ticket
							.plan-header Standard Ticket
							.plan-price
								span.plan-price-amount $160 
							.plan-items
								.plan-item 40+ sessions
								.plan-item Lunch both days
								.plan-item T-shirt
							
							.plan-footer
								a.button.is-fullwidth(disabled="disabled" href="https://lrtechfest2022.eventbrite.com/?aff=lrtechfestcom" target="_blank") Buy Now
						
						
						
		//-section#team.section
			.container
				h1.title.has-text-centered Leadership
				h2.subtitle.has-text-centered Little Rock Tech Fest is brought to you with #[span(style="color:#76b55a") #[i.fa.fa-heart]] by
				br
				.columns.is-multiline.is-centered
					each member in data.members
						.column.is-3.has-text-centered
							figure.image.is-128x128.has-image-centered.m-b-16
								img(src=member.img.url)
							.title.is-4 #{member.name}
							.subtitle.is-6 #{member.title} @ #{member.company}
								if member.altTitle && member.altCompany
									| &nbsp;/ #{member.altTitle} @ #{member.altCompany}
							if member.twitter
								span.icon.is-medium
									a(href="https://twitter.com/" + member.twitter target="_blank")
										i.fab.fa-twitter.fa-lg
							if member.linkedin
								span.icon.is-medium
									a(href="https://linkedin.com/in/" + member.linkedin target="_blank")
										i.fab.fa-linkedin.fa-lg
							if member.github
								span.icon.is-medium
									a(href="https://github.com/" + member.github target="_blank")
										i.fab.fa-github.fa-lg
							if member.website
								span.icon.is-medium
									a(href=member.website target="_blank")
										i.fas.fa-globe.fa-lg

		section.hero.is-secondary.is-small
			.hero-body.has-text-centered
				h1.title Event Location
				h2.subtitle Statehouse Convention Center
				address 101 E Markham St 
					br 
					|Little Rock, AR 72201
		#isMap

block js
	script(src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous")
	script(src="//maps.googleapis.com/maps/api/js?v=3&libraries=places&key=AIzaSyBI59PHKJ6RKHij4YneTlmGbjyfrX6nBG8")
	script(src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.js")
	script(src="https://cdnjs.cloudflare.com/ajax/libs/moment-timezone/0.5.26/moment-timezone-with-data.min.js")
	script(src="https://cdnjs.cloudflare.com/ajax/libs/countdown/2.6.0/countdown.js")
	script(src="/js/moment-countdown.min.js")
	script.
		
		function countdown() {
			moment.tz.setDefault("America/Chicago");
			$('#countdown').html(moment().countdown("2022-09-01").toString());
			if (moment().isAfter("2022-09-01")) {
				$('.earlybird').hide();
				$('.standard-ticket').addClass('is-primary');
				$('.standard-ticket a.button').removeAttr('disabled');
			}
		}
		setInterval(countdown, 1000);

