extends ../layouts/default

block intro
	section.hero.is-secondary
		.hero-body
			.container
				#particles-js
				h1.title #{data.job.title}
				h2.subtitle #{data.job.sponsor.name}

block content
	section#job.section.main
		.container
			.columns
				.column.is-3
						img(src=data.job.sponsor.logo.secure_url).img
						div <strong>Company:</strong> #{data.job.sponsor.name}
						div <strong>Primary Contact:</strong> #{data.job.primaryContact}
						div <strong>Location:</strong> #{data.job.location}
				.column.is-9
					div <strong>Job Title:</strong> #{data.job.title}
					label.label Job Description:
					pre #{data.job.description}
