extends ../layouts/default

block meta
	title #{data.job.title} at #{data.job.sponsor.name} | Little Rock Tech Fest
	meta(name="description" content=data.job.description.substring(0, 250)+'...')
	meta(property="og:image", content=data.job.sponsor.logo.secure_url)
	meta(property="og:title" content=data.job.title+" at "+data.job.sponsor.name+" | Little Rock Tech Fest")
	meta(property="og:site_name", content="lrtechfest.com")
	meta(property="og:description" content=data.job.description.substring(0, 250)+'...')
	meta(property="og:url", content="http://www.lrtechfest.com/jobs/"+data.job.slug)
	meta(property="og:type", content="website")
	meta(name="twitter:card" content="summary")
	meta(name="twitter:site" content="@LRTechFest")
	meta(name="twitter:title" content=data.job.title+" at "+data.job.sponsor.name+" | Little Rock Tech Fest")
	meta(name="twitter:description" content=data.job.description.substring(0, 250)+'...')
	//-Twitter Summary card images must be at least 120x120px
	meta(name="twitter:image" content=data.job.sponsor.logo.secure_url)

block intro
	section.hero.is-secondary
		.hero-body
			.container
				#particles-js
				h1.title #{data.job.title}
				h2.subtitle #{data.job.sponsor.name}

block content
	section#job.section.main
		.container
			.columns.is-variable.is-8
				.column.is-4
					.box
						a(href=data.job.sponsor.website target="_blank")
							img(src=data.job.sponsor.logo.secure_url alt="Company Logo").img.m-b-16
						if data.job.primaryContact
							p #[strong Contact:] #{data.job.primaryContact}
						if data.job.applicationEmail
							p #[strong Email:] 
								a(href="mailto:"+ data.job.applicationEmail +"?subject="+ data.job.title).has-text-dark #[u #{data.job.applicationEmail}]
						p #[strong Employment Type:] #{data.job.employmentType}
						p #[strong Location:] #{data.job.location}
				.column.is-8
					.box
						h1.title #{data.job.title}
						pre #{data.job.description}
						br
						if data.job.applicationWebsite
							a.button.is-primary.is-fullwidth(href=data.job.applicationWebsite target="_blank") Apply Online
					if data.job.sponsor.description
						.box
							h2.title.is-4 About #{data.job.sponsor.name}
							p #{data.job.sponsor.description}
