extends ../layouts/default

block intro
	section.hero.is-secondary
		.hero-body
			.container
				#particles-js
				h1.title #{data.job.title}
				h2.subtitle #{data.job.sponsor.name}

block content
	section#job.section.main
		.container
			.columns.is-variable.is-8
				.column.is-4
					.box
						a(href=data.job.sponsor.website target="_blank")
							img(src=data.job.sponsor.logo.secure_url alt="Company Logo").img.m-b-16
						if data.job.primaryContact
							p #[strong Contact:] #{data.job.primaryContact}
						if data.job.applicationEmail
							p #[strong Email:] 
								a(href="mailto:"+ data.job.applicationEmail +"?subject="+ data.job.title).has-text-dark #[u #{data.job.applicationEmail}]
						p #[strong Employment Type:] #{data.job.employmentType}
						p #[strong Location:] #{data.job.location}
				.column.is-8
					.box
						h1.title #{data.job.title}
						pre #{data.job.description}
						br
						if data.job.applicationWebsite
							a.button.is-primary.is-fullwidth(href=data.job.applicationWebsite target="_blank") Apply Online
					if data.job.sponsor.description
						.box
							h2.title.is-4 About #{data.job.sponsor.name}
							p #{data.job.sponsor.description}
