extends ../layouts/default

block meta
	title Post a job | Little Rock Tech Fest
	meta(name="description" content="Want your job listed on Little Rock Tech Fest? All current year sponsors can post jobs!")
	meta(property="og:image", content="/images/lrtf-sm.png")
	meta(property="og:title" content="Post a job | Little Rock Tech Fest")
	meta(property="og:site_name", content="lrtechfest.com")
	meta(property="og:description" content="Want your job listed on Little Rock Tech Fest? All current year sponsors can post jobs!")
	meta(property="og:url", content="http://www.lrtechfest.com/jobs/submit")
	meta(property="og:type", content="website")
	meta(name="twitter:card" content="summary")
	meta(name="twitter:site" content="@LRTechFest")
	meta(name="twitter:title" content="Post a job | Little Rock Tech Fest")
	meta(name="twitter:description" content="Want your job listed on Little Rock Tech Fest? All current year sponsors can post jobs!")
	//-Twitter Summary card images must be at least 120x120px
	meta(name="twitter:image" content="/images/lrtf-sm.png")

block intro

	section.hero.is-secondary
		.hero-body
			.container
				#particles-js
				h1.title Post a job
				h2.subtitle To have your job posting displayed on our website, please complete the following form.
		
block content

	section.section.main
		.container
			if jobSubmitted
				h3.subtitle Form submission received. We'll add your job posting after a brief review, typically within 4-6 business hours.
			else
				form(method='post')

					input(type='hidden', name='action', value='submit')
					input(type='hidden', name='year', value=data.year)

					.field(class=validationErrors.title ? 'is-danger' : null)
						label.label #[span.has-text-danger *] Job Title 
						.control
							input(type='text', name='title', value=formData.title).input
					.field(class=validationErrors.location ? 'is-danger' : null)
						label.label #[span.has-text-danger *] Location
						.control
							input(type='text', name='location', value=formData.location).input
					if data.sponsors
						.field(class=validationErrors.type ? 'is-danger' : null)
							label.label #[span.has-text-danger *] Company
							.control
								.select
									select(name='sponsor').input
										option(value='') (select one)
										each sponsor in data.sponsors
											option(value=sponsor._id, selected=formData.sponsor == sponsor._id)= sponsor.name
					.field(class=validationErrors.type ? 'is-danger' : null)
						label.label #[span.has-text-danger *] Employment Type?
						.control
							.select
								select(name='employmentType').input
									option(value='') (select one)
									each type in employmentTypes
										option(value=type.value, selected=formData.jobType == type.value)= type.label
					.field(class=validationErrors.title ? 'is-danger' : null)
						label.label Primary Contact
						.control
							input(type='text', name='primaryContact', value=formData.primaryContact, placeholder="").input
						.help Who should the applicant contact regarding this position? This can be the name of the person posting the position or a department name (optional).
					.field(class=validationErrors.title ? 'is-danger' : null)
						label.label Application Website
						.control
							input(type='text', name='applicationWebsite', value=formData.applicationWebsite, placeholder="").input
						.help Provide a link for applicants to apply for your position online (recommended).
					.field(class=validationErrors.title ? 'is-danger' : null)
						label.label Application Email
						.control
							input(type='text', name='applicationEmail', value=formData.applicationEmail, placeholder="").input
						.help Provide an email address for applicants to send resumes (optional).
					.field(class=validationErrors.description ? 'is-danger' : null)
						label.label #[span.has-text-danger *] Description
						.control
							textarea(name='description', placeholder='Describe the position...' rows=4).textarea= formData.description
					.form-actions
						.control
							button(type='submit').button.is-primary Send
