extends ../layouts/default

block meta
	title Jobs | Little Rock Tech Fest
	meta(name="description" content="Looking for a job? Check out these opportunities at companies that sponsor Little Rock Tech Fest!")
	meta(property="og:image", content="/images/lrtf-sm.png")
	meta(property="og:title" content="Jobs | Little Rock Tech Fest")
	meta(property="og:site_name", content="lrtechfest.com")
	meta(property="og:description" content="Looking for a job? Check out these opportunities at companies that sponsor Little Rock Tech Fest!")
	meta(property="og:url", content="http://www.lrtechfest.com/jobs")
	meta(property="og:type", content="website")
	meta(name="twitter:card" content="summary")
	meta(name="twitter:site" content="@LRTechFest")
	meta(name="twitter:title" content="Jobs | Little Rock Tech Fest")
	meta(name="twitter:description" content="Looking for a job? Check out these opportunities at companies that sponsor Little Rock Tech Fest!")
	//-Twitter Summary card images must be at least 120x120px
	meta(name="twitter:image" content="/images/lrtf-sm.png")

block intro
	section.hero.is-secondary
		.hero-body
			.container
				#particles-js
				h1.title Looking for a job?
				h2.subtitle Check out these #[span.highlight opportunities] at companies that sponsor Little Rock Tech Fest!

block content
	section.section.main
		.container
			.columns
				.column.is-9
					if data.jobs.length
						each job in data.jobs
							.box
								a(href='/jobs/' + job.slug)
									.columns.job.is-12
											.column.is-3
												img(src=job.sponsor.logo.secure_url alt="Company logo").img.pull-right
											.column.is-6
												p.title.is-4 #{job.title}
												p.subtitle.is-6 #{job.sponsor.name}
											.column.is-3.p-t-16
												p.is-size-7.has-text-dark #[i.far.fa-clock] #{job.employmentType}
												p.is-size-7.has-text-dark #[i.fas.fa-map-marker-alt] #{job.location}
					else 
						.columns
							.column
								h3.subtitle There are no jobs posted at the moment!

				.column.is-3.has-text-centered
					h4.title.is-5 Want your job listed here?
					h6.subtitle.is-6.p-t-8 All current year sponsors can post jobs!
					a.button.is-primary.is-fullwidth(href="/jobs/submit") POST A JOB!